{% extends 'base.html' %}
{% load static %}
{% block title %}Painel do Usuário{% endblock %}

{% block content %}

<main class="painel_usuario">
    <div class="painel_usuario_boas_vindas">
        {% if usuario.is_authenticated %}        
        <div class="painel_usuario_titulo">
            Olá, @<span>{{ usuario.nome }}</span>!
        </div>
        {% endif %}
        <div class="painel_usuario_titulo cor_cinza">
            Escolha o que você quer fazer:
        </div>
        <a href="{% url 'gerenciar_postagem' %}" class="painel_usuario_opcoes">
            <p>GERENCIAR POSTAGENS</p>
            <p class="painel_descricao">Crie, edite e exclua postagens criadas por você!</p>
        </a>
        <a href="{% url 'gerenciar_perfil' %}" class="painel_usuario_opcoes cor_verde">
           <p>GERENCIAR PERFIL</p>
           <p class="painel_descricao">Altere informações do seu perfil</p>
        </a>
        <a href="{% url 'inicio' %}" class="painel_usuario_opcoes cor_branco">
            <p>NAVEGAR PELO BLOG</p>
            <p class="painel_descricao">Leia nossos artigos e publicações</p>
        </a>
    </div>
</main>

{% endblock %}
