{% extends "base.html" %}
{% load static %}
{% block title %}Sobre{% endblock %}

{% block content %}
    <!-- banner da Ada by WoMakersCode -->
    <div class="">
        <img src="{% static 'assets/banner1.png' %}" style="width: 100%;" class="pt-5">
    </div>
    <!-- Sobre a WoMakersCode e o Bootcamp 
    <div class="container-fluid">
        <p class="h2 font-titulos pt-5 ps-3">Como surgiu este projeto?</p>
        <p class="fs-5 ps-3">Este projeto surgiu no Bootcamp de Python e Django realizado pela WoMakersCode.</p>
        <p class="h2 font-titulos pt-5 ps-3">Requisitos básicos do projeto</p>
        <p class="fs-5 ps-3">Este projeto surgiu no Bootcamp de Python e Django realizado pela WoMakersCode.</p>
    </div>
    -->
    <!-- Caneca Tech logo e texto explicativo -->
    <div class="container-fluid mt-3 p-4">
        <div class="row">
            <div class="col-md-6 p-5">
                <img src="{% static 'assets/caneca2.png' %}" class="img-fluid" style="width: 100%;" alt="...">
            </div>
            <div class="col-md-5 p-5">
                <div class="row">
                    <p class="h3 font-titulos-destaque">Caneca?</p>
                </div>
                <div class="row">
                    <p class="fs-4 text-md-start">O conceito de caneca abrange não apenas o ato de tomar café, inclui todo mundo desde quem bebe chá até aqueles que preferem cerveja.</p>
                </div>
            </div>
        </div>
    </div> 
    
{% endblock %}