{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '\styles\styles.css' %}" media="screen">
    <link rel="shortcut icon" href="{% static '\assets\favicon.svg' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg pt-5 ps-4 pe-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static '\assets\logo.png' %}" class="img-fluid" alt="Caneca Tech">
          </a>
          <!-- menu hamburguer -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link font-titulos" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-titulos" href="#">SOBRE</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link font-titulos" href="#">CONTATO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-titulos" href="#">CADASTRE-SE</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="input-group">  
                  <input class="form-control barra_pesquisa font-titulos" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success-ctech font-titulos me-4" type="butt">
                    <!-- <img src="{% static '\assets\lupa.png' %}" class="img-sobreposta" alt="Caneca Tech" width="20px"> -->
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </form>
            <button class="botao-entrar font-titulos" type="button">LOGIN</button>
          </div>
        </div>
      </nav>
  <header>

    <!--Tabs para navegação entre as categorias -->
      <br>
      <nav class="nav-categoria">
        <ul class="categorias flex-container">
          <li class="nav-item">
            <a class="font-titulos link-ativo" aria-current="page" href="#">Tudo</a>
          </li>
          <li class="nav-item categoria-item">
            <a class="font-titulos" href="#">Categoria 1</a>
          </li>
          <li class="nav-item categoria-item">
            <a class="font-titulos" href="#">Categoria 2</a>
          </li>
          <li class="nav-item categoria-item">
            <a class="font-titulos" href="#">Categoria 2</a>
          </li>
          <li class="nav-item categoria-item">
            <a class="font-titulos" href="#">Categoria 3</a>
          </li>
        </ul>
    </nav>

{% block content %}

{% endblock %}

  