{% extends 'galeria/base.html'%}
{% load static %}
{% block title %}Postagem da categoria 1{% endblock %}


<!-- PROBLEMA: na página da categoria deve ficar ativada a tab da categoria-->
{% block nav %} {% include 'galeria\partials\_navcategorias.html' %} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <p class="h2 font-titulos mt-4 ms-4">Todas as postagens sobre <span class="link-primary">#CATEGORIA 1</span></p>
        <div class="container-fluid">
            <div class="mb-3 p-3" style="max-height: auto">
              <div class="row g-0">
                <div class="col-md-3">
                  <!-- deve vir do banco de dados -->
                  <img src="{% static '\assets\img-2.png' %}" class="img-fluid rounded" alt="imagem do post">
                </div>
                <div class="col-md-8">
                  <div class="card-body ps-4">
                    <div class="mb-2">
                      <!-- Inserir aqui informações de data e tags do banco de dados -->
                      <span class="badge text-bg-light text-secondary">30 de março, 2024</span>
                      <!-- Iterar sobre as tags -->
                      <span class="badge text-bg-light">tag</span>
                    </div>
                    <!-- deve vir do banco de dados -->
                    <h5 class="card-title font-titulos-destaque">Este é um título em destaque</h5>
                    <p class="card-text pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a ultrices massa.
                      Integer ornare ac tellus non faucibus. Vivamus elementum, ante ut luctus commodo, nunc erat dapibus orci,
                      vel lobortis felis tortor quis nulla. Sed tempus mi sapien. Phasellus vitae sapien consectetur, imperdiet
                      orci id, porttitor metus. Donec malesuada purus sed sem sagittis, nec dignissim nunc eleifend. Nunc semper
                      justo ex, et rutrum sem dignissim at.</p>
                    <a href="#" class="btn btn-outline-primary font-titulos mt-3">Confira na íntegra</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="container-fluid">
            <div class="mb-3 p-3" style="max-height: auto">
              <div class="row g-0">
                <div class="col-md-3">
                  <!-- deve vir do banco de dados -->
                  <img src="{% static '\assets\img-2.png' %}" class="img-fluid rounded" alt="imagem do post">
                </div>
                <div class="col-md-8">
                  <div class="card-body ps-4">
                    <div class="mb-2">
                      <!-- Inserir aqui informações de data e tags do banco de dados -->
                      <span class="badge text-bg-light text-secondary">30 de março, 2024</span>
                      <!-- Iterar sobre as tags -->
                      <span class="badge text-bg-light">tag</span>
                    </div>
                    <!-- deve vir do banco de dados -->
                    <h5 class="card-title font-titulos-destaque">Este é um título em destaque</h5>
                    <p class="card-text pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a ultrices massa.
                      Integer ornare ac tellus non faucibus. Vivamus elementum, ante ut luctus commodo, nunc erat dapibus orci,
                      vel lobortis felis tortor quis nulla. Sed tempus mi sapien. Phasellus vitae sapien consectetur, imperdiet
                      orci id, porttitor metus. Donec malesuada purus sed sem sagittis, nec dignissim nunc eleifend. Nunc semper
                      justo ex, et rutrum sem dignissim at.</p>
                    <a href="#" class="btn btn-outline-primary font-titulos mt-3">Confira na íntegra</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          
    </div>
    

{% endblock %}