{% extends 'galeria/base.html' %}
{% load static %}
{% block title %}Painel do Usuário{% endblock %}

{% if user.is_authenticated %}
{% block login %}
<div class="cabecalho_usuario">
    <span class="font-titulos media-desktop">Olá, {{ usuario.nome }}!</span>
    <span class="nav-link font-titulos media-mobile">OLÁ, {{ usuario.nome }}! </span>
    <div class="logo_usuario"></div>
</div>
{% endblock %}
{% endif %}

{% block content %}

<main class="painel_usuario">
    <div class="painel_usuario_boas_vindas">
        {% if usuario.is_authenticated %}        
        <div class="painel_usuario_titulo">
            Olá, @<span>{{ usuario.nome }}</span>!
        </div>
        {% endif %}
        <div class="painel_usuario_titulo cor_cinza">
            Escolha o que você quer fazer:
        </div>
        <a href="" class="painel_usuario_opcoes">
            <p>GERENCIAR POSTAGENS</p>
            <p class="painel_descricao">Crie, edite e exclua postagens criadas por você!</p>
        </a>
        <a href="galeria/gerenciar_perfil.html" class="painel_usuario_opcoes cor_verde">
           <p>GERENCIAR PERFIL</p>
           <p class="painel_descricao">Altere informações do seu perfil</p>
        </a>
        <a href="{% url 'inicio' %}" class="painel_usuario_opcoes cor_branco">
            <p>NAVEGAR PELO BLOG</p>
            <p class="painel_descricao">Leia nossos artigos e publicações</p>
        </a>
    </div>
</main>

{% endblock %}
