{% extends 'galeria/base.html'%}
{% load static %}
{% block title %}Resultado da busca{% endblock %}


<!-- PROBLEMA: na página da categoria deve ficar ativada a tab da categoria-->
{% block nav %}{% include 'galeria\partials\_navcategorias.html' %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid pb-3">
            <p class="h2 font-titulos mt-4">Todos os resultados para <span class="link-primary">"Busca"</span></p>
        </div>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-body">
                  <h3 class="card-title font-titulos">Título da postagem</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Confira na íntegra >></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-body">
                  <h3 class="card-title font-titulos">Título da postagem</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Confira na íntegra >></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
    </div>
{% endblock %}