
.font-titulos {
    font-family: "Share Tech Mono", monospace;
  }

  .font-titulos-destaque {
    font-family: "Share Tech Mono", monospace;
    font-size: 50px;
  }

.style-link-color{
  color:#7c6afa;
}




